* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.my-20 {
  margin: 20px 0;
}

.ml-40 {
  margin-left: 40px;
}

.align-center {
  align-self: center;
}

.btn-blue {
  padding: 3px 8px;
  border-radius: 5px;
  background-color: #0182F9;
  font-size: 14px;
  text-decoration: none;
}

.btn {
  padding: 3px 8px;
  border: 1px solid #0182F9;
  color: #0182F9;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
}

header {
  padding: 20px;
  text-align: center;
}
header a {
  color: #636b6f;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.card-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-container .card {
  width: calc(100% / 4 - 20px);
  margin-bottom: 40px;
  text-decoration: none;
  color: #636b6f;
  text-align: center;
}
.card-container .card > a {
  text-decoration: none;
  color: #636b6f;
}
.card-container .card .actions {
  margin-top: 10px;
}
.card-container .card .actions a.btn-blue {
  color: #fff;
}
.card-container .card .actions button {
  height: 26px;
}
.card-container .delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container .delete > div {
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container .delete > div p {
  margin-bottom: 20px;
}
.card-container .delete > div .buttons {
  display: flex;
  margin-top: 30px;
}
.card-container .delete > div .buttons form {
  margin-right: 20px;
}
.card-container .delete > div .buttons form input {
  border: 0;
  outline: 0;
  height: 26px;
  color: #fff;
}

.comic {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.comic a {
  text-decoration: none;
  color: #636b6f;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form form input {
  font-family: "Nunito", sans-serif;
  width: 30%;
  margin-bottom: 20px;
  padding: 10px;
}
.form form input[type=submit] {
  width: 10%;
}